doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Gulppack
		meta(name="theme-color" content="")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="shortcut icon" href="" type="image/x-icon")
		link(rel="apple-touch-icon" href="")
		link(rel="apple-touch-icon" sizes="57x57" href="")
		link(rel="apple-touch-icon" sizes="72x72" href="")
		link(rel="apple-touch-icon" sizes="76x76" href="")
		link(rel="apple-touch-icon" sizes="114x114" href="")
		link(rel="apple-touch-icon" sizes="120x120" href="")
		link(rel="apple-touch-icon" sizes="144x144" href="")
		link(rel="apple-touch-icon" sizes="152x152" href="")
		link(rel="apple-touch-icon" sizes="180x180" href="")
		link(rel="stylesheet" href="../build/styles/main.min.css")
	body
		.wrapper
			include start/start
		script(src="../build/js/main.min.js")