article.start
  div.start__container
    div.start__item
      hr
      h1 CSS Glowing Page with JavaScript Greetings
      p We are happy to inform you that believing that girls deserved the same opportunity to have outdoor learning experiences as boys, Luther and Charlotte Guilick started the Camp Fire Girls of America in 1910. We are happy to inform you that believing that girls deserved the same opportunity to have outdoor learning experiences as boys, Luther and Charlotte Guilick started the Camp Fire Girls. <br>
    div.start__item
      hr
      h1 CSS Glowing Page with JavaScript Greetings
      p We are happy to inform you that believing that girls deserved the same opportunity to have outdoor learning experiences as boys, Luther and Charlotte Guilick started the Camp Fire Girls of America in 1910. We are happy to inform you that believing that girls deserved the same opportunity to have outdoor learning experiences as boys, Luther and Charlotte Guilick started the Camp Fire Girls. <br>
    div.start__item
      hr
      h1 CSS Glowing Page with JavaScript Greetings
      p We are happy to inform you that believing that girls deserved the same opportunity to have outdoor learning experiences as boys, Luther and Charlotte Guilick started the Camp Fire Girls of America in 1910. We are happy to inform you that believing that girls deserved the same opportunity to have outdoor learning experiences as boys, Luther and Charlotte Guilick started the Camp Fire Girls. <br>