input[type="submit"], input[type="reset"], input[type="button"], button, .button 
  display: inline-block
  vertical-align: middle
  color: #fff
  font-weight: 700
  font-size: 12px
  padding: 8px 30px
  border-radius: 3px
  text-transform: uppercase
  background-color: $beige
  border-radius: 10px
  transition: all 0.3s ease 1ms
  cursor: pointer
  overflow: hidden
  position: relative
  &__lite
    background-color: transparent
    color: $beige
    border: 2px solid $beige
    &:hover
      background-color: $beige
      color: #fff
  &__empty
    background-color: transparent
    color: #fff
    border: 2px solid transparent
    &:hover
      background-color: transparent
      color: $beige
  &:focus 
    outline: none
  &:active 
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3)
  &:disabled 
    background: #ccc
    color: #000
    cursor: not-allowed
