$cols = 12
$gutter = 40px

container_body = 
  margin: 0 auto
  box-sizing: border-box
  display: flex
  @media $xxs
    width: 100%
    padding: 0 15px
  @media $sm
    width: 750px
  @media $md
    width: 970px
  @media $lg
    width: 1600px
  @media $xlg
    width: 1750px
 


container($justify = space-between, $align = center, $wrap = wrap)
  {container_body}
  justify-content: $justify
  align-items: $align
  flex-wrap: $wrap

col($num)
  width: calc( (((100% - ($gutter * ($cols - 1))) / $cols) * $num) + ( $gutter * ($num - 1)) )

// // *.styl

// $gutter = 1rem

// .sizeXS-m10
//   width 'calc(%s / %s * %s - %s)' % (100% 12 10 $gutter)